<app-download-app-banner />

<div class="shadow mb-6">
  <div class="container mx-auto py-6">
    <div class="flex justify-between">
      <div class="flex items-center space-x-2">
        <div
          class="w-12 h-12 bg-gray-50 rounded-full flex items-center justify-center"
        >
          <mat-icon class="text-gray-600">menu</mat-icon>
        </div>

        <div
          class="w-12 h-12 bg-gray-50 rounded-full flex items-center justify-center"
        >
          <img src="/images/english-flag.png" alt="" />
        </div>

        <div
          class="text-primary-700 flex space-x-2 h-12 px-4 bg-gray-50 rounded-full flex items-center justify-center"
        >
          <div class="relative !text-primary-700">
            <mat-icon fontSet="material-icons-outlined">
              shopping_cart
            </mat-icon>

            <div
              class="absolute -top-3 -start-3 w-4 h-4 bg-primary-700 text-white text-xs rounded-full flex items-center justify-center"
            >
              3
            </div>
          </div>

          <span>Go to cart</span>
        </div>
      </div>

      <div class="flex items-center">
        <img src="/images/sary-logo-green.png" alt="" />
      </div>
    </div>
  </div>
</div>
