<div class="bg-gray-100 p-4">
  <div class="container mx-auto flex items-center justify-center space-x-8">
    <div class="flex items-center space-x-3">
      <p class="font-bold text-lg text-gray-800">
        Discover more offers and unmatched prices on Sary app!
      </p>

      <a href="#" aria-label="App Store">
        <img src="/images/sary-app-google-play-store.png" alt="App Store" />
      </a>

      <a href="#" aria-label="Google Play">
        <img src="/images/sary-app-apple-store.png" alt="Sary Google Play" />
      </a>
    </div>

    <button class="text-gray-500 text-lg font-bold">&times;</button>
  </div>
</div>
